name: deploy to test instance
on:
  push:
    branches: [ master ]
jobs:

  build:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: executing remote connection
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.CICD_SECRET }}
        port: ${{ secrets.PORT }}
        script: |
          cd /apps/github-workflows/mhealth-apps/
          sudo rm -rf psurvey
          sudo mkdir psurvey
          sudo chown -R cicd2:cicd2 psurvey
          git config --global --add safe.directory /apps/github-workflows/mhealth-apps/psurvey    
          cd psurvey/
          git clone https://github.com/palladiumkenya/psurvey.git .
          git status
          cp  /apps/dockerApps/psurvey/python.dockerfile /apps/github-workflows/mhealth-apps/psurvey
          cp  /apps/dockerApps/psurvey/nginx.dockerfile /apps/github-workflows/mhealth-apps/psurvey
          cp  /apps/dockerApps/psurvey/secrets.json /apps/github-workflows/mhealth-apps/psurvey
          cp  /apps/dockerApps/psurvey/pSurvey/settings.py /apps/github-workflows/mhealth-apps/psurvey/pSurvey
          # cp -r /apps/dockerApps/psurvey/docker/ /apps/github-workflows/mhealth-apps/psurvey
          docker-compose down
          docker-compose rm -f
          docker-compose up --build -d
